<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166837641778-1af2smqk3sqimf92lpuo50ougj4gomu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166837641778-1af2smqk3sqimf92lpuo50ougj4gomu6</string>
	<key>API_KEY</key>
	<string>AIzaSyCKL5TTDUuw_wjTcZapk8pp6SFYm1sXODQ</string>
	<key>GCM_SENDER_ID</key>
	<string>166837641778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-81dea</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-81dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166837641778:ios:7b9e4e6aebdd8605b8522b</string>
</dict>
</plist>